
@*@{
    ViewBag.Title = "Index";
}*@

<h2>Index Funcionário</h2>

<div class="row">
    <div class="col-md-4">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="4">2020</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=1&amp;contribuinte_id=1')">Jan </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=2&amp;contribuinte_id=1')">Fev </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=3&amp;contribuinte_id=1')">Mar </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=4&amp;contribuinte_id=1')">Abr </td>
                </tr>
                <tr>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=5&amp;contribuinte_id=1')">Mai </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=6&amp;contribuinte_id=1')">Jun </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=7&amp;contribuinte_id=1')">Jul </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=8&amp;contribuinte_id=1')">Ago </td>
                </tr>
                <tr>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=9&amp;contribuinte_id=1')">Set </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=10&amp;contribuinte_id=1')">Out </td>
                    <td class="ef-nenc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2020&amp;mes=11&amp;contribuinte_id=1')">Nov </td>
                    <td>Dez </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="4">2019</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan </td>
                    <td>Fev </td>
                    <td>Mar </td>
                    <td>Abr </td>
                </tr>
                <tr>
                    <td>Mai </td>
                    <td>Jun </td>
                    <td>Jul </td>
                    <td>Ago </td>
                </tr>
                <tr>
                    <td>Set </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2019&amp;mes=10&amp;contribuinte_id=1')">Out </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2019&amp;mes=11&amp;contribuinte_id=1')">Nov </td>
                    <td class="ef-enc" onclick="openAcompanhamentoServicos('/Prefeitura/Fiscalizacao/ModalBalanceteCompetencia?ano=2019&amp;mes=12&amp;contribuinte_id=1')">Dez </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="4">2018</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jan </td>
                    <td>Fev </td>
                    <td>Mar </td>
                    <td>Abr </td>
                </tr>
                <tr>
                    <td>Mai </td>
                    <td>Jun </td>
                    <td>Jul </td>
                    <td>Ago </td>
                </tr>
                <tr>
                    <td>Set </td>
                    <td>Out </td>
                    <td>Nov </td>
                    <td>Dez </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

